<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>aplicacion con VUE</title>
</head>
<body>

<div id="container">
    <h1>Clase 1</h1>
    <form action="">
        <label for="">Email</label>
        <input v-model="email" id="email" type="email">

        <label for="">password</label>
        <input v-model="password" id="password" type="password">

        <button v-on:click="enviar" type="submit">Acceder</button>

    </form>
    <p>el {{email}} y el pass {{password}} </p>
</div>
    <script src="js/app.js"></script>
</body>
</html>